<div id="dice">
	<div class="columns">
		<div class="dice column" data-faces="4">
			<img src="/bastion/assets/img/dice/d4.png" alt="d4-img" />
		</div>
		<div class="dice column" data-faces="6">
			<img src="/bastion/assets/img/dice/d6.png" alt="d6-img" />
		</div>
		<div class="dice column" data-faces="8">
			<img src="/bastion/assets/img/dice/d8.png" alt="d8-img" />
		</div>
		<div class="dice column" data-faces="10">
			<img src="/bastion/assets/img/dice/d10.png" alt="d10-img" />
		</div>
		<div class="dice column" data-faces="12">
			<img src="/bastion/assets/img/dice/d12.png" alt="d12-img" />
		</div>
		<div class="dice column" data-faces="20">
			<img src="/bastion/assets/img/dice/d20.png" alt="d20-img" />
		</div>
	</div>
	<div id="results">
		<div id="value"></div>
	</div>
</div>
