<nav class="navbar">
  <div class="navbar-brand">
    <div class="navbar-item">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </div>
    <div class="navbar-burger burger" data-target="nav-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="nav-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="{{ 'index.html' | relative_url }}">
        Accueil
      </a>
      <a class="navbar-item"  href="{{ 'aspects.html' | relative_url }}">
        Aspects
      </a>
      <a class="navbar-item" href="{{ 'dice.html' | relative_url }}">
        Dés
      </a>
      <a class="navbar-item" href="{{ 'factions.html' | relative_url }}">
        Factions
      </a>
      <a class="navbar-item" href="{{ 'profils.html' | relative_url }}">
        Profils
      </a>
      <a class="navbar-item" href="{{ 'prouesses.html' | relative_url }}">
        Prouesses
      </a>
      <a class="navbar-item" href="{{ 'tables.html' | relative_url }}">
        Tables
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" href="https://github.com/vurtn/twisted-fate">
              <span class="icon">
                <i class="fa fa-github"> </i>
              </span>
              <span> GitHub </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>