<div id="presentation">
	<p>Bienvenue,</p>
	<p>Bastion a pour objectif de lister les ingrédients (inspirations ou de mon cru) qui sont utiles dans
		mes parties
		de Fate, un jeu de rôle de Fred Hicks et Rob Donoghue. Cela
		peut être des
		idées de scénarios, lieux, aspects, etc. Le jeu est disponible en VF chez <a
			href="http://www.500nuancesdegeek.fr/">500 nuances de geek</a> et le SRD est disponible
		gratuitement sur le site <a href="https://fate-srd.fr/wikifate/doku.php">Fate SRD</a>.</p>

	<div id="presentation-buttons">
		<a class="button is-danger is-outlined is-small" href="https://github.com/vurtn">
			<span class="icon">
				<i class="fa fa-github"> </i>
			</span>
			<span> GitHub </span>
		</a>

		<a class="button is-danger is-outlined is-small" href="{{ 'outils.html' | relative_url }}"> Outils </a>
	</div>
</div>