<div id="tables">
	<table class="table is-narrow">
		<thead>
			<tr>
				<th>
					Table
				</th>
				<th>Action</th>
				<th>Résultat</th>
			</tr>
		</thead>
		<tbody>
			{% for post in site.tags["tables"] %}
			<tr>
				<td class="table-cell-title"><span class="table-name vcenter">{{ post.title }}</span>
					<span class="table-content is-hidden">{{post.content}}</span>
				</td>
				<td class="table-cell-pick"><button class="button is-danger is-outlined is-small" onclick="table_pick(this)">
						Pick</button></td>
				<td class="table-cell-result"><span class="vcenter"></span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
