@import "bulma_superhero.min";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

@import "head";
@import "presentation";
@import "colors";
@import "dice";
@import "tables";
@import "posts";

.vcenter {
	vertical-align: middle;
}

html {
	background-color: darken($background-dark, 10%);
	font-size: 1rem;
}

a {
	color: $main-red;
	text-decoration: underline;
}

#main {
	margin: 0 auto;
	font-family: "Inconsolata", monospace !important;
	font-size: 0.90rem;
	padding: 20px;
}

table {
	@extend .table;

	@extend .is-narrow;

	width: 100%;

	tr,
	td {
		background-color: darken($background-dark, 10%);
	}

	button {
		color: $main-red;
		border-color: $main-red;

		&:hover,
		&:focus {
			background-color: $main-red;
			color: white;
		}
	}

	.table-cell-title {
		width: 45%;
	}

	.table-cell-pick {
		width: 10%;
	}

	.table-cell-result {
		width: 45%;
	}
}

.bastion-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: center;

	a {
		margin: 0 10px;
		color: $main-red !important;
		border-color: $main-red !important;
		text-decoration: none;
		text-transform: capitalize;

		&:hover,
		&:focus {
			background-color: $main-red !important;
			color: white;
		}
	}

	margin-bottom: 3rem;
}