@import "bulma_superhero.min";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

@import "head";
@import "presentation";
@import "colors";
@import "dice";
@import "tables";
@import "posts";

.vcenter {
	vertical-align: middle;
}

table {
	@extend .table;
}

html {
	background-color: darken($background-dark, 10%);
	font-size: 1rem;
}

a {
	color: $main-red;
	text-decoration: underline;
}

#main {
	margin: 0 auto;
	font-family: "Inconsolata", monospace !important;
	font-size: 0.75rem;
}
