@import "colors";

.post-list {

	li,
	li div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.post-item {
		margin-bottom: 0px;
	}

	.post-item-date {
		color: $item-date;
	}

	.post-item-icone-img {
		height: 30px;
	}

	.post-item-title {
		margin-left: 10px;
		display: flex;
		align-items: center;
		font-weight: bold;
	}
}

.posts-title {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	font-weight: bold;
	color: red;
}

.posts-concept,
.posts-probleme,
.posts-aspects,
.posts-prouesses,
.posts-approches {
	margin-top: 1.5rem;
	font-size: 1.25rem;
	font-weight: bold;
}