@import "colors";

.post-list {
	li, li div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.post-item {
		margin-bottom: 0px;
	}

	.post-item-date {
		color: $item-date;
	}

	.post-item-icone-img {
		height: 30px;
	}

	.post-item-title {
		margin-left: 10px;
		display: flex;
		align-items: center;
		font-weight: bold;
	}
}

.post-title {
	font-size: 2rem;
	font-weight: bold;
}
