@import "colors";

#presentation {
	margin-top: 40px;
	margin-bottom: 40px;
}

#presentation-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: center;

	a {
		margin: 0 10px;
		color: $main-red;
		border-color: $main-red;
		text-decoration: none;

		&:hover {
			background-color: $main-red;
			color: white;
		}
	}
}
